<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<div class="container fo" th:fragment="content">
    <div class="row">
        <h3 th:inline="text">[[#{label.profile}]]</h3>
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <div th:object="${user}">
            <div class="box-body" th:if="${#fields.hasErrors('*')}">
                <div class="alert alert-danger alert-dismissable" th:inline="text">
                    <a href="#" data-dismiss="alert" class="close">&times;</a>
                    <div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" method="POST" th:object="${user}" th:action="@{/home/profile}">
            <div class="form-group">
                <label class="col-sm-4 control-label" th:inline="text">[[#{label.username}]]</label>
                <div class="col-sm-8">
                    <label class="control-label" th:utext="*{username}"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" th:inline="text">[[#{label.email}]]</label>
                <div class="col-sm-8">
                    <label class="control-label" th:utext="*{email}"></label>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('name')} ? ' has-error'">
                <label for="name" class="col-sm-4 control-label" th:inline="text">[[#{label.name}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" th:field="*{name}" th:attr="placeholder=#{placeholder.name},maxlength=*{maxLengthName}" autofocus="autofocus" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('address')} ? ' has-error'">
                <label for="address" class="col-sm-4 control-label" th:inline="text">[[#{label.address}]]</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="address" th:field="*{address}" th:attr="placeholder=#{placeholder.address},maxlength=*{maxLengthAddress}" required="required"></textarea>
                    <span class="help-block" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                </div>
            </div>          
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('city')} ? ' has-error'">
                <label for="city" class="col-sm-4 control-label" th:inline="text">[[#{label.city}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="city" th:field="*{city}" th:attr="placeholder=#{placeholder.city},maxlength=*{maxLengthCity}" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('province')} ? ' has-error'">
                <label for="province" class="col-sm-4 control-label" th:inline="text">[[#{label.province}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="province" th:field="*{province}" th:attr="placeholder=#{placeholder.province},maxlength=*{maxLengthProvince}" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('province')}" th:errors="*{province}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('phoneMobile')} ? ' has-error'">
                <label for="phone_mobile" class="col-sm-4 control-label" th:inline="text">[[#{label.phone.mobile}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="phone_mobile" th:field="*{phoneMobile}" th:attr="placeholder=#{placeholder.phone.mobile},maxlength=*{maxLengthPhoneMobile}" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('phoneMobile')}" th:errors="*{phoneMobile}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('phone')} ? ' has-error'">
                <label for="phone" class="col-sm-4 control-label" th:inline="text">[[#{label.phone.home}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="phone" th:field="*{phone}" th:attr="placeholder=#{placeholder.phone},maxlength=*{maxLengthPhone}" required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                </div>
            </div>
           <!--  <div class="form-group">
                <label class="col-sm-4 control-label" th:inline="text">[[#{label.location}]]</label>
                <div class="col-sm-8">
                    <label class="control-label" th:utext="*{location}"></label>
                </div>
            </div> -->
            <hr/>
            <div class="form-group">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.save}]]</button>
                </div>
            </div>
        </form>
    </div>
    <!-- JQUERY VALIDATE -->
    <!--<script th:src="@{/js/plugin/jquery-validate/jquery.validate.min.js}"></script>-->
    <!--<script th:src="@{/js/plugin/jquery-validate/additional-methods.min.js}"></script>-->
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function() {
            //$("form").validate();
            $('form').submit(function(){
                $(this).find('button').prop('disabled',true);
            });
        });
    </script>
</div>
</html>