<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
      
<div class="container fo" th:fragment="content">
    <link rel="stylesheet" type="text/css"  th:href="@{/js/jquery-ui.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.css}" />
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title" id="myModalLabel"></h4>
           </div>
           <div class="modal-body">
             <b>Tanggal Mulai tidak boleh lebih dari Tanggal Akhir</b>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
       </div>
      </div>
    </div>
    
    
	<style type="text/css">
	#table {
	margin: 0 auto;
	clear: both;
	width: 100%;
	table-layout: fixed;
	word-wrap: break-word;	
	}
	</style>
    
    <div class="row">
        <h3 th:inline="text">[[#{label.terminal.activity}]]</h3>
        <form id="search" class="form-horizontal" th:object="${terminal}">
        
	
			<div class="form-group">
                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.keyword}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="q" th:attr="placeholder=#{placeholder.search.terminal.raw}" autofocus="autofocus"/>
                </div>
            </div>
            
             <!-- <div class="form-group">
                <label for="c" class="col-sm-4 control-label" th:inline="text">[[#{label.startdate}]]</label>
                <div class="col-sm-8">
                    <input type="date" id="c" name="startDate" data-date-format="yyyy-mm-dd" />
                </div>
            </div>
            <div class="form-group">
                <label for="b" class="col-sm-4 control-label" th:inline="text">[[#{label.enddate}]]</label>
                <div class="col-sm-8">
                    <input type="date" id="b" name="endDate" data-date-format="yyyy-mm-dd"/>
                </div>
            </div>
             -->
             <div class="form-group">
                <label class="col-sm-4 control-label" th:inline="text">[[#{label.periodDate}]]</label>
                <div class="col-sm-8" id="sandbox-container">
                   <div class="input-daterange input-group" id="datepicker">
				     <input type="text" class="input-sm form-control" id="c" name="startDate" th:value="${endDate}" onkeydown="return false"/>
				     <span class="input-group-addon">to</span>
				     <input type="text" class="input-sm form-control" id="b" name="endDate" th:value="${startDate}" onkeydown="return false"/>
			       </div>
			    </div>
			</div>
            


            <div class="form-group">
	         	<div class="col-xs-12 text-right">
	         		<button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
                    <a th:href="@{/home/terminal}" class="btn btn-danger" role="button" th:inline="text">[[#{label.back}]]</a>
                </div>
            </div>
            </form>
      
        <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="" style="white-space: normal">
            <thead>
                <tr>
                    <th th:inline="text">[[#{label.terminal.time}]]</th>
                    <th th:inline="text">[[#{label.terminal.action}]]</th>  
                    <th th:inline="text">[[#{label.terminal.message}]]</th> 
                    <th th:inline="text">[[#{label.terminal.viewMessage}]]</th> 
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        </div>
        
    <script th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/js/jquery-ui.custom.js}"></script> 
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>      
    <script th:src="@{/js/modernizr-custom.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                        d.q=$('#table').data('keyword');
                        d.terminalId=[[${terminalId}]];
                        var date = new Date();
                        d.c=$('#table').data('startDate');
                        d.b=$('#table').data('endDate'); 
                    },
                    url:/*[[@{/home/terminal/get-list-terminal-details}]]*/'
                },
                autoWidth: false,
                columns : [
                    { width : '25px' },
                    { width : '25px' },
                    { width : '300px' },
                    { width : '25px' }
                  ],
                lengthChange:false,
                ordering:false,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true,
                overflow :true
            });
            
            $(function(){           
                if (!Modernizr.inputtypes.date) {
                // If not native HTML5 support, fallback to jQuery datePicker
                    $('input[type=date]').datepicker({
                        // Consistent format with the HTML5 picker
                            dateFormat : 'yyyy-mm-dd',
                            autoclose : true,
                            clearBtn : true
                        }
                    );
                }
            });
            
            $('#sandbox-container .input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayBtn: true,
                clearBtn: true,
                autoclose: true,
                todayHighlight: true
            });
           
          
            $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                var terminalId = [[${terminalId}]];
                var startDate = $("#c").val();
                var endDate = $("#b").val();
                var startDateCmp = Date.parse(startDate);
                var endDateCmp = Date.parse(endDate);
                if(startDateCmp > endDateCmp){
                	$('#myModal').modal('show'); 
                }else{
                	$('#table').data('keyword', $('#q').val());
                    $('#table').data('terminalId', terminalId);
                    $('#table').data('startDate', startDate);
                    $('#table').data('endDate',endDate );
                   	table.ajax.reload();
                }
                
                return false;
            });
        });
    </script>
    </div>
</html>

