<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
      
<div class="container fo" th:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
    <link rel="stylesheet" th:href="@{//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}" />
    <div class="row">
        <h3 th:inline="text">[[#{label.terminal}]]</h3>
        <form id="search" class="form-horizontal">
		
			<div class="form-group">
                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.keyword}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="q" th:attr="placeholder=#{placeholder.search.terminal.keyword}" autofocus="autofocus"/>
                </div>
            </div>

            <hr/>
            <div class="form-group">
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
                </div>
            </div>
        </form>
        <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="">
            <thead>
                <tr>                
                	<th th:inline="text">[[#{label.terminal.imei}]]</th>
                    <th th:inline="text">[[#{label.terminal.modelNumber}]]</th>
                    <th th:inline="text">[[#{label.terminal.androidVersion}]]</th>
                    <th th:inline="text">[[#{label.terminal.sessionCreatedDate}]]</th>            
                    <th th:inline="text">[[#{label.action}]] </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/modernizr-custom.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                        d.q=$('#table').data('keyword');
                    },
                    url:/*[[@{/home/terminal/get-list-terminal}]]*/'
                },
//                columnDefs:[
//                    {"orderable":false,"targets":3}
//                ],
                lengthChange:false,
                ordering:false,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true
            });
            $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                $('#table').data('keyword', $('#q').val());
                table.ajax.reload();
                return false;
            });
        });
    </script>
    <script th:src="@{/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js}" ></script>
</div>
</html>