<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<div class="container fo" th:fragment="content">
	<link rel="stylesheet" type="text/css" th:href="@{/js/select2/select2.css}" />
    <script th:src="@{/js/select2/select2.js}"></script>
    <script th:src="@{/js/select2/select2.min.js}"></script>  
    
    <div class="row" th:object="${user}" >
            <h3 th:if="*{userId} == null" th:inline="text">[[#{label.add.user}]]</h3>
	        <h3 th:if="*{userId} != null" th:inline="text">[[#{label.edit.user}]]</h3>
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <div th:object="${user}">
            <div class="box-body" th:if="${#fields.hasErrors('*')}">
                <div class="alert alert-danger alert-dismissable" th:inline="text">
                    <a href="#" data-dismiss="alert" class="close">&times;</a>
                    <div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" method="POST" th:object="${user}" th:action="@{/home/manage/user/add(userId=${user.userId})}">
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('username')} ? ' has-error'">
                <label th:if="*{userId} == null" for="username" class="col-sm-4 control-label" th:inline="text">[[#{label.username}]]*</label>
                <label th:if="*{userId} != null" for="username" class="col-sm-4 control-label" th:inline="text">[[#{label.username}]]</label>
                <div class="col-sm-8">
                	<label th:if="*{userId} != null" class="col-sm-4 control-label" th:utext="*{username}"></label>
                	<input th:if="*{userId} != null" type="hidden" id="username" th:field="*{username}"/>
                    <input th:if="*{userId} == null" type="text" class="form-control" id="username" th:field="*{username}" th:attr="placeholder=#{placeholder.username},maxlength=*{maxLengthUsername}" autofocus="autofocus"/>
                    <!--<sigma:textfield class="form-control" id="username" th:field="*{username}" th:attr="placeholder=#{placeholder.username},maxlength=*{maxLengthUsername}" autofocus="autofocus" val-required="true" val-maxlength="[[*{maxLengthUsername}]]" val-minlength="[[*{minLengthUsername}]]"/>-->
                    <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('email')} ? ' has-error'">
                <label for="email" class="col-sm-4 control-label" th:inline="text">[[#{label.email}]]*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="email" th:field="*{email}" th:attr="placeholder=#{placeholder.email},maxlength=*{maxLengthEmail}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
            </div>
            <!-- <div th:if="*{userId} == null" class="form-group" th:attrappend="class=${#fields.hasErrors('password')} ? ' has-error'">
                <label for="password" class="col-sm-4 control-label" th:inline="text">[[#{label.password}]]*</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" th:field="*{password}" th:attr="placeholder=#{placeholder.password},maxlength=*{maxLengthPassword}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
            </div>
            <div th:if="*{userId} == null" class="form-group" th:attrappend="class=${#fields.hasErrors('passwordConfirm')} ? ' has-error'">
                <label for="password_confirm" class="col-sm-4 control-label" th:inline="text">[[#{label.password.confirm}]]*</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password_confirm" th:field="*{passwordConfirm}" th:attr="placeholder=#{placeholder.password.confirm},maxlength=*{maxLengthPassword}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                </div>
            </div> -->
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('name')} ? ' has-error'">
                <label for="name" class="col-sm-4 control-label" th:inline="text">[[#{label.name}]]*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" th:field="*{name}" th:attr="placeholder=#{placeholder.name},maxlength=*{maxLengthName}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('address')} ? ' has-error'">
                <label for="address" class="col-sm-4 control-label" th:inline="text">[[#{label.address}]]*</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="address" th:field="*{address}" th:attr="placeholder=#{placeholder.address},maxlength=*{maxLengthAddress}"></textarea>
                    <span class="help-block" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                </div>
            </div>   
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('city')} ? ' has-error'">
                <label for="city" class="col-sm-4 control-label" th:inline="text">[[#{label.city}]]*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="city" th:field="*{city}" th:attr="placeholder=#{placeholder.city},maxlength=*{maxLengthCity}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('phoneMobile')} ? ' has-error'">
                <label for="phone_mobile" class="col-sm-4 control-label" th:inline="text">[[#{label.phone.mobile}]]*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="phone_mobile" th:field="*{phoneMobile}" th:attr="placeholder=#{placeholder.phone.mobile},maxlength=*{maxLengthPhoneMobile}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('phoneMobile')}" th:errors="*{phoneMobile}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('roles')} ? ' has-error'">
                <label class="col-sm-4 control-label" th:inline="text">[[#{label.role}]]*</label>
                <div class="col-sm-8">
                    <div class="checkbox" th:each="role : ${allRoles}">
                    	<input type="checkbox" th:id="${role.roleId}" th:field="*{strRoles}" th:value="${role.roleId}" th:text="${role.authority}"/>
                    <!-- 
                        <label th:for="${role}" th:inline="text"><input type="checkbox" th:id="${role.roleId}" th:field="*{roles}" th:value="${role.roleId}"/> [[${role.authority}]]</label>
                     -->
                    </div>
                    <span class="help-block" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></span>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.save}]]</button>
                    <a th:href="@{/home/manage/user}" class="btn btn-danger" role="button" th:inline="text">[[#{label.back}]]</a>
                </div>
            </div>
        </form>
 <script type="text/javascript" th:inline="javascript">
 /*<![CDATA[*/
        $(document).ready(function() {        	
            $('#location').select2({
                placeholder: "Search for a Location",
                minimumInputLength: 3,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: [[@{/home/manage/user/add/ajax/location}]],
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            q: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data };
                    },
                    cache: true
                },
                dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
      		});
            
            $(".combo-group").select2();
            var id = [[${user.strLocation}!=null ? ${user.strLocation} : '']];
            var text = [[${user.strLocation}!=null and ${user.strLocation}!='' ? ${user.location.locationCode}+'-'+${user.location.locationName} : '']];

            var data = {id:id,text:text};
            if(id!=null)
            {
            	$('#location').select2('data',data);
            }
            
            $('form').submit(function(){
                $(this).find('button').prop('disabled',true);
            });
          });
        /*]]>*/
    </script>
    </div>
    <!-- JQUERY VALIDATE -->
    <!--<script th:src="@{/js/plugin/jquery-validate/jquery.validate.min.js}"></script>-->
    <!--<script th:src="@{/js/plugin/jquery-validate/additional-methods.min.js}"></script>-->
</div>
</html>