<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<div class="container fo" th:fragment="content">

    <link rel="stylesheet" type="text/css" th:href="@{/js/select2/select2.css}" />
    
    
    <div class="row"  >
    	<div th:object="${role}">
	        <h3 th:if="*{roleId} == null" th:inline="text">[[#{label.add.role}]]</h3>
	        <h3 th:if="*{roleId} != null" th:inline="text">[[#{label.edit.role}]]</h3>
		</div>
        
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <div th:object="${role}">
            <div class="box-body" th:if="${#fields.hasErrors('*')}">
                <div class="alert alert-danger alert-dismissable" th:inline="text">
                    <a href="#" data-dismiss="alert" class="close">&times;</a>
                    <div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" method="POST" th:object="${role}" th:action="@{/home/manage/role/add(roleId=${role.roleId})}">
            
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('authority')} ? ' has-error'">
                <label for="username" class="col-sm-4 control-label" th:inline="text">[[#{label.role.name}]]*</label>
                <div class="col-sm-8">
                	<label th:if="*{roleId} != null" class="col-sm-4 control-label" th:utext="*{authority}"></label>
                    <input th:if="*{roleId} == null" type="text" class="form-control" id="authority" th:field="*{authority}" th:attr="placeholder=#{placeholder.authority},maxlength=*{maxLengthAuthority}" autofocus="autofocus"  required="required"/>
                    <span class="help-block" th:if="${#fields.hasErrors('authority')}" th:errors="*{authority}"></span>
                </div>
            </div>
            <div class="form-group" th:attrappend="class=${#fields.hasErrors('description')} ? ' has-error'">
                <label for="description" class="col-sm-4 control-label" th:inline="text">[[#{label.role.description}]]*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="description" th:field="*{description}" th:attr="placeholder=#{placeholder.description},maxlength=*{maxLengthDescription}" />
                    <span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>
            </div>
	       <div class="form-group" th:attrappend="class=${#fields.hasErrors('menus')} ? ' has-error'">
             <label for="description" class="col-sm-4 control-label" th:inline="text">[[#{label.role.menu}]]*</label>
             	<div class="col-sm-8">
            		<select id="menus"  th:field="*{strMenus}" multiple="multiple" style="width: 100%">
                       <option th:each="menus : ${allMenus}" th:value="${menus.menuId}" th:text="#{${menus.menuName}}" ></option>
                       
					</select>
					
				</div>
            </div>
            
            <div class="form-group" >
                <label class="col-sm-4 control-label" th:inline="text">[[#{label.role.access}]]</label>
                <div class="col-sm-8">
                    <div class="checkbox">
                    	<input type="checkbox" th:id="${canAccessWeb}" th:field="*{canAccessWeb}" th:value="${canAccessWeb}">Dapat mengakses via Web?</input>
                    	<span class="help-block" th:if="${#fields.hasErrors('canAccessWeb')}" th:errors="*{canAccessWeb}"></span>
                    </div>
                    <div class="checkbox">
                    	<input type="checkbox" th:id="${canAccessMobile}" th:field="*{canAccessMobile}" th:value="${canAccessMobile}">Dapat mengakses via mobile?</input>
                    	<span class="help-block" th:if="${#fields.hasErrors('canAccessMobile')}" th:errors="*{canAccessMobile}"></span>
                    </div>
                    
                </div>
            </div>
            
            
             <div class="form-group">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.save}]]</button>
                    <a th:href="@{/home/manage/role}" class="btn btn-danger" role="button" th:inline="text">[[#{label.back}]]</a>
                </div>
            </div>
        </form>
    </div>
    <!-- JQUERY VALIDATE -->
    <!--<script th:src="@{/js/plugin/jquery-validate/jquery.validate.min.js}"></script>-->
    <!--<script th:src="@{/js/plugin/jquery-validate/additional-methods.min.js}"></script>-->
    
    <script th:src="@{/js/select2/select2.js}"></script>
    <script th:src="@{/js/select2/select2.min.js}"></script>

	<script type="text/javascript" th:inline="javascript">
    
        $(document).ready(function() {
        	$('#menus').select2({
        		  placeholder: "Silahkan pilih Menu yang bisa diakses",
        		  allowClear: true
        		});
        		
               $('form').submit(function(){
                $(this).find('button').prop('disabled',true);
            });
        });
    </script>
</div>
</html>