<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
      
<div class="container fo" th:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
    <div class="row">
        <h3 th:inline="text">[[#{label.manage.role}]]</h3>
        <form id="search" class="form-horizontal">
		
			<div class="form-group">
                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.role}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="q" th:attr="placeholder=#{placeholder.search.role.keyword}" autofocus="autofocus"/>
                </div>
            </div>

            <hr/>
            <div class="form-group">
                <div class="col-xs-6 text-left">
                    <a th:href="@{/home/manage/role/add}" class="btn btn-success" role="button" th:inline="text">[[#{label.add}]]</a>
                </div>
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
                </div>
            </div>
        </form>
        
        <style type="text/css">
	       #table {
	           margin: 0 auto;
	           clear: both;
	           width: 100%;
	           table-layout: fixed;
	           word-wrap: break-word;	
	        }
	    </style>
    
        <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="">
            <thead>
                <tr>
                    <th th:inline="text">[[#{label.role.name}]]</th>
                    <th th:inline="text">[[#{label.role.description}]]</th>
                    <th th:inline="text">[[#{label.action}]]</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/modernizr-custom.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                        d.q=$('#table').data('keyword');
                    },
                    url:/*[[@{/home/manage/role/get-list}]]*/'
                },
                   
                autoWidth: false,
                columns : [
                    { width : '25px' },
                    { width : '50px' },
                    { width : '25px' }
                  ],
                lengthChange:false,
                ordering:false,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true
            });
            $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                $('#table').data('keyword', $('#q').val());
                table.ajax.reload();
                return false;
            });
        });
    </script>
</div>
</html>