<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:inline="text">[[#{app.name}]]</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
    <script th:src="@{/js/jquery-1.11.3.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    
	<script th:src="@{/js/jquery-flot/jquery.flot.js}"></script>
	<script th:src="@{/js/jquery-flot/jquery.flot.navigate.js}"></script>
	<script th:src="@{/js/jquery-flot/jquery.flot.min.js}"></script>
	<script th:src="@{/js/jquery-flot/jquery.flot.pie.min.js}"></script>
	<script th:src="@{/js/jquery-flot/jquery.flot.resize.js}"></script>
	<script th:src="@{/js/jquery-flot/jquery.flot.time.js}"></script>
	<script th:src="@{/js/jquery-flot/jquery.flot.orderBars.js}"></script>
	<script th:src="@{/js/jquery-flot/jquery.flot.stack.js}"></script>    
	<script th:src="@{/js/jquery-flot/jquery.flot.symbol.js}"></script>    
	<script th:src="@{/js/jquery-flot/jquery.flot.axislabels.js}"></script>  
	<script th:src="@{/js/jquery.cascadingdropdown.js}"></script>  
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<head></head>
<div class="container" th:fragment="content" style="margin-top:60px">
    <div align="center">Page not found</div>
</div>

</body>
</html>