<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
      
<div class="container fo" th:fragment="content">
    <link rel="stylesheet" type="text/css"  th:href="@{/js/jquery-ui.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.css}" />
    <div class="row">
        <h3 th:inline="text">[[#{label.manage.dashboard.etl.job}]]</h3>
        
        <div class="box-body" th:if="${eodState != null and eodState != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[#{label.status.etl}+${eodState}]]
            </div>
        </div>
        
        <form id="search" class="form-horizontal" th:method="POST" th:action="@{/home/manage/dashboard/jobExecution/rerun}">
		
            <div class="form-group">
                <label class="col-sm-4 control-label" th:inline="text">[[#{label.periodDate}]]</label>
                <div class="col-sm-8" id="sandbox-container">
                   <div class="input-daterange input-group" id="datepicker">
				     <input type="text" class="input-sm form-control" id="startDate" name="startDate" th:value="${startDate}" onkeydown="return false"/>
				     <span class="input-group-addon">to</span>
				     <input type="text" class="input-sm form-control" id="endDate" name="endDate" th:value="${endDate}" onkeydown="return false"/>
			       </div>
			    </div>
			</div>

            <hr/>
            <div class="form-group">
                <div class="col-xs-6 text-right">
                    <button type="button" id="searchBtn" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
                    <button type="submit" id="rerunBtn" class="btn btn-primary" th:inline="text" th:disabled="${eodState} == 'running' ? true : false">[[#{label.rerun}]]</button>
                </div>
            </div>
        </form>
        
        <style type="text/css">
	       #table {
	           margin: 0 auto;
	           clear: both;
	           width: 100%;
	           table-layout: fixed;
	           word-wrap: break-word;	
	        }
	    </style>
    
        <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="">
            <thead>
                <tr>
                    <th th:inline="text">[[#{label.dashboard.etl.jobname}]]</th>
                    <th th:inline="text">[[#{label.dashboard.etl.starttime}]]</th>
                    <th th:inline="text">[[#{label.dashboard.etl.endtime}]]</th>
                    <th th:inline="text">[[#{label.dashboard.etl.status}]]</th>
                    <th th:inline="text">[[#{label.action}]]</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/js/jquery-ui.custom.js}"></script> 
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>         
    <script th:src="@{/js/modernizr-custom.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                        d.startDate=$('#table').data('startDate');
                        d.endDate=$('#table').data('endDate'); 
                    },
                    url:/*[[@{/home/manage/dashboard/jobExecution/get-list-jobexec}]]*/'
                },
                   
                autoWidth: false,
                columns : [
                    { width : '40px' },
                    { width : '15px' },
                    { width : '15px' },
                    { width : '20px' },
                    { width : '10px' }
                  ],
                lengthChange:false,
                ordering:false,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true
            });


            $("#searchBtn").click(function(){
	                $('#table').data('startDate', $('#startDate').val());
	                $('#table').data('endDate', $('#endDate').val());
	                table.ajax.reload();
               });    
            
            $(function(){           
                if (!Modernizr.inputtypes.date) {
                // If not native HTML5 support, fallback to jQuery datePicker
                    $('input[type=date]').datepicker({
                        // Consistent format with the HTML5 picker
                            dateFormat : 'yyyy-mm-dd',
                            autoclose : true,
                            clearBtn : true
                        }
                    );
                }
            });
            
            $('#sandbox-container .input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayBtn: true,
                clearBtn: true,
                autoclose: true,
                todayHighlight: true,
                orientation: "bottom auto"
            });
        });
    </script>
</div>
</html>