<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
      
<div class="container fo" th:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
    <div class="row">
        <h3 th:inline="text">[[#{label.manage.dashboard.etl.step}]]</h3>
        
        <style type="text/css">
	       #table {
	           margin: 0 auto;
	           clear: both;
	           width: 100%;
	           table-layout: fixed;
	           word-wrap: break-word;	
	        }
	    </style>
    
        <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="">
            <thead>
                <tr>
                    <th th:inline="text">[[#{label.dashboard.etl.stepname}]]</th>
                    <th th:inline="text">[[#{label.dashboard.etl.starttime}]]</th>
                    <th th:inline="text">[[#{label.dashboard.etl.endtime}]]</th>
                    <th th:inline="text">[[#{label.dashboard.etl.readcount}]]</th>
                    <th th:inline="text">[[#{label.dashboard.etl.writecount}]]</th>
                    <th th:inline="text">[[#{label.dashboard.etl.status}]]</th>
                    <th th:inline="text">[[#{label.dashboard.etl.message}]]</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/modernizr-custom.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                        d.jobExecutionId=[[${jobExecutionId}]]
                    },
                    url:/*[[@{/home/manage/dashboard/jobExecution/stepExecution/get-list-stepexec}]]*/'
                },
                   
                autoWidth: false,
                columns : [
                    { width : '30px' },
                    { width : '5px' },
                    { width : '5px' },
                    { width : '10px' },
                    { width : '10px' },
                    { width : '15px' },
                    { width : '25px' }
                  ],
                lengthChange:false,
                ordering:false,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true
            });            
        });
    </script>
</div>
</html>