<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<div class="container fo" th:fragment="content">
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/js/skin/ui.dynatree.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/js/jquery-ui.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
    <link id="bs-css"  th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link id="bsdp-css" th:href="@{/css/datepicker.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/js/jquery-ui.custom.js}"></script>    
    <script th:src="@{/js/jquery.cookie.js}"></script>
    <script th:src="@{/js/jquery.dynatree.js}"></script>        
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/jquery.ui.map.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		var markers=[];
	    var map;
	    var listLocation = JSON.parse([[${locationDetails}]]);
	    var centerLat = '-6.211544';
	    var centerLon = '106.845172';
	    if(listLocation.length>0)
	    {
	    	centerLat = parseFloat(listLocation[0].latitude);
	    	centerLon = parseFloat(listLocation[0].longitude);
	    }
	    
	    function initialize() {        	
    		var latlng = new google.maps.LatLng(centerLat, centerLon);
    		var myOptions = {
    		  zoom: 20,
    		  center: latlng,
    		  mapTypeId: google.maps.MapTypeId.ROADMAP
    		};
    		map = new google.maps.Map(document.getElementById("map_container"),myOptions);
    		for(var i=0;i<listLocation.length;i++)
    		{
    			var location=listLocation[i];
    		   addMarker(location.locationDetailId,location.latitude,location.longitude,location.icon,location.title,location.infoWindowContent);  		   
    		}	  
	    };
	   google.maps.event.addDomListener(window, 'load', initialize);	   
	
        $(document).ready(function(){       	    	                
           
        	$('#sandbox-container .input-daterange').datepicker({
            	 format: "yyyy-mm-dd",
                 todayBtn: true,
                 clearBtn: true,
                 autoclose: true,
                 todayHighlight: true,
                 orientation: "bottom auto"
            });
            
            $('#search').submit(function(e) {  
                return true;
            });
            $(document).on("click","tr.rows", function(e){
                var markerId=e.currentTarget.cells[0].childNodes[0].value;
                panMarker(markerId);
            });
        });

    	function addMarker(locationId,latitude,longitude,icon,title,infoWindowContent)
    	{
    		var marker;
    		marker = new google.maps.Marker({
    		  position: {lat: parseFloat(latitude), lng: parseFloat(longitude)}, 
    		  title: title,
    		  icon: icon,
    		  markerId: locationId,
    		  strLat: parseFloat(latitude),
    		  strLng: parseFloat(longitude)
    		});

    		marker.addListener('click', function() {
                var infoWindow = new google.maps.InfoWindow({
                    content: infoWindowContent
                });
                map.setCenter(marker.getPosition());
                infoWindow.open(map, marker);
                marker.infoWindow=infoWindow;
    		});
    		marker.setMap(map);    		
    		markers.push(marker);
    		google.maps.event.trigger(marker, 'click');
    	}
    	
    	
    	function findMarker(markerId)
    	{
    		for(var i=0;i<markers.length;i++)
    		{
   				var markerToFind=markers[i];
   				if(markerToFind.markerId==markerId)
   					 return markerToFind;
    		}	   		 
    	}
    	
    	
  	  function panMarker(markerId) {
		  var markerToPan = findMarker(markerId);	
		  map.panTo(markerToPan.position);	
		  map.setZoom(20);
		  markerToPan.setVisible(true);
		  google.maps.event.trigger(markerToPan, 'click');
		}  	  
    	/*]]>*/
    </script>
    <div class="row">
        <h3 th:inline="text">[[#{label.dashboard.geospasial}]]</h3>
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        	<table>
        		<tr>
        			<td align="center"><div id="map_container" style="width:700px;height:400px;"></div></td>
        			<td align="left" style="width:400px;height:600px;">
        				<label th:inline="text">[[#{label.dashboard.geospasial.search}]]</label>
						<form id="search" class="form-horizontal" method="get" th:action="@{/home/dashboard/geolocation/spasial}">
							<div class="form-group">
				                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.periodDate}]]</label>
				                <div class="col-sm-8" id="sandbox-container">
				                	<input id="locationId" name="locationId" type="hidden" th:value="${locationId}"/>				                	
                                    <div class="input-daterange input-group" id="datepicker">
				                        <input type="text" class="input-sm form-control" id="c" name="startDate" th:value="${startDate}" onkeydown="return false"/>
				                        <span class="input-group-addon">to</span>
				                        <input type="text" class="input-sm form-control" id="b" name="endDate" th:value="${endDate}" onkeydown="return false"/>
			                        </div>
			                    </div>
				            </div>
							<div class="form-group">
				                <div class="col-xs-6 text-right">
				                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
				                </div>
							</div>
						</form>
        				<img th:if="${locationId}!=null" th:src="@{/home/dashboard/geolocation/get-picture(locationId=${locationId})}"/>
        				<div><label th:inline="text">Tipe : [[${locationType}]]</label></div> 
						<div><label th:inline="text">Nama : [[${locationName}]]</label></div> 
						<div><label th:inline="text">Kode : [[${locationCode}]]</label></div> 
						<div><label th:inline="text">Alamat : [[${locationAddress}]]</label></div> 
        			</td>
        		</tr>
        		<tr>
        			<td colspan="2">
        				<h3 th:inline="text">[[#{label.dashboard.geospasial.table}]]</h3>
        				<table id="table" class="table table-hover table-striped">
				            <thead>
				                <tr>
						                    <th th:inline="text"><span></span>[[#{label.number}]]</th>
						                    <th th:inline="text">[[#{label.createdDate}]]</th>
						                    <th th:inline="text">[[#{label.longitude}]]</th>
						                    <th th:inline="text">[[#{label.latitude}]]</th>
						                    <th th:inline="text">[[#{label.gpsAccuracy}]]</th>
				                </tr>
				            </thead>
				            <tbody>
						        <tr th:each="loc,iterationStatus : ${locations}" class="rows">
						            <td><input type="hidden" name="locDetailId" th:value="${loc.locationDetailId}"/><label type="text" th:text="${iterationStatus.count}" /></td>
						            <td><label type="text" th:text="${loc.createdDate}" /></td>
						            <td><label type="text" th:text="${loc.longitude}" /></td>
						            <td><label type="text" th:text="${loc.latitude}" /></td>
						            <td><label type="text" th:text="${loc.gpsAccuracy}" /></td>
						        </tr>
						        <tr th:if="${locations.size()==0}">
						        	<td colspan="5"><small class="small-geo-table">No data available in table</small></td>
						        </tr>
				            </tbody>
				        </table>
        			</td>
        		</tr>
        	</table>        				         
    </div>    
</div>
</html>