<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<div class="container fo" th:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/selectize/dist/css/selectize.bootstrap2.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.css}"/>

    <div class="modal fade" id="buttonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <form class="form-horizontal" method="POST" th:action="@{/home/manage/parameter/edit}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                            <th th:inline="text">[[#{label.manage.id.img}]]</th>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <p>Nama Nasabah : <span id="namanasabah">NamaNasabah</span></p>
                            <img src="" alt="Gambar belum di upload atau gambar rusak" id="idCard" onContextMenu="return false"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <h3 th:inline="text">[[#{label.manage.baki}]]</h3>
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <form id="search" class="form-horizontal">
            <div class="form-group">
                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.idsearch}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="q"
                           th:attr="placeholder=#{placeholder.search.id.nikorcif}" autofocus="autofocus"/>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
                </div>
            </div>
        </form>
        <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="">
            <thead>
            <tr>
                <th th:align="right" th:inline="text">[[#{label.cifnumber}]]</th>
                <th th:align="right" th:inline="text">[[#{label.idnumber}]]</th>
                <th th:align="right" th:inline="text">[[#{label.custname}]]</th>
                <th th:align="right" th:inline="text">[[#{label.dateofbirth}]]</th>
                <th th:align="right" th:inline="text">[[#{label.viewimage}]]</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/select2/select2.js}"></script>
    <script th:src="@{/js/select2/select2.min.js}"></script>
    <script th:src="@{/js/selectize/dist/js/standalone/selectize.min.js}"></script>
    <script th:src="@{/js/moment-with-locales.js}"></script>
    <script th:src="@{/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                        d.q=$('#table').data('keyword');
                    },
                    url:/*[[@{/home/manage/idcardsearch/get-list}]]*/''
                },
                lengthChange:false,
                ordering:false,
                pageLength:25,
                processing:true,
                searching:false,
                serverSide:true
            });
            $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                $('#table').data('keyword', $('#q').val());
                table.ajax.reload();
                return false;
            });
          
            $("#modalEditSave").click(function(e){
              //ambil nilai dari input di modal body
            });  
                       
            $('#button1').click( function() {
              var data = $('#row-1-age').val();
               $('#table1').DataTable({
                 ordering:false,
                 searching:false,
                 bPaginate: false,
                 "info":false
               }).row.add(data).draw();
                alert(
                    "The following data would have been submitted to the server: \n\n"+
                    data+'...'
                );
            });
        });   
        $('#paramValueSelect').selectize({
            persist: false,
            maxItems: null,
            valueField: 'table',
            labelField: 'tablename',
            searchField: ['table'],
            options: [
                      {table: 'Location Details'},
                      {table: 'Audit Log'},
                      {table: 'Terminal Activity'},
                      {table: 'Terminal'}
            ],
            render: {
                 item: function(item, escape) {
                     return '<div>' +
                     (item.table ? '<span class="label_selective" style="color:black;">' + escape(item.table) + '</span>' : '') +
                     '</div>';
                 },
                 option: function(item, escape) {
                     var label = item.table;
                     var caption = item.table;
                     return '<div>' +
                     '<span class="label_selective" style="color:black;">' + escape(item.table) + '</span>' +
                     '</div>';
                 }
            }
        });
        $('#buttonModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget); // Button that triggered the modal
          var img = button.data('img'); // Extract info from data-* attribute
          var custname = button.data('nama');
          var action = button.data('event');
          var link = button.data('link'); 
          var value = button.data('value');
          var value2 = button.data('selectize-value');
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this);
          var source = "data:image/jpeg;base64, "+img;
          $("#idCard").attr("src",source);
          $("#namanasabah").text(custname);
          //modal.find('.modal-body').text(id);
          if(action=='edit')
          {
              modal.find('.modal-title').text([[#{label.manage.param.edit.value}]]);
              modal.find('.modal-body labelname').text([[#{label.param.name}]]);
              modal.find('.modal-body #paramId').val(id);
              modal.find('.modal-body #name').val(name).attr('readonly',true);
              modal.find('.modal-body labelgrup').text([[#{label.param.grup}]]);
              modal.find('.modal-body #group').val(group).attr('readonly',true);
              modal.find('.modal-body labeldescription').text([[#{label.param.description}]]);
              modal.find('.modal-body #description').val(description).attr('readonly',true);
              modal.find('.modal-body labelvalue').text([[#{label.param.value}]]);
              if(name == 'housekeeping.table'){ 
                  modal.find('.modal-body #paramValueSelect').val(value);
                $('#selectOption').show();
                  $('#paramValue').hide();
                $('#datetimepicker4').hide();
              }else if(name == 'housekeeping.schedule'){
                  modal.find('.modal-body #datetimepicker4').val(value);
                $('#selectOption').hide();
                $('#paramValue').hide();
                $('#datetimepicker4').show();
              }else if(name != 'housekeeping.schedule' || name != 'housekeeping.table' ){
                   modal.find('.modal-body #paramValue').val(value);
                   $('#selectOption').hide();
                 $('#paramValue').show();
                 $('#datetimepicker4').hide();
              }
          } 
          var temp = modal.find('.btn-primary').attr('href');
          modal.find('.btn-primary').attr('href',link);
        })            
          
        $('#datetimepicker4').datetimepicker({
          format:'HH:mm:ss'
        });
           
        


    </script>
</div>
</html>